body{
    font-family: 'Bitter', serif;
    margin: 0px;     
}

#One{
    text-align: justify;
}
h1{
    font-size: 50px;
}

.highlight{
    color: orange;
}

.Half-Width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.Half-Width img{
    width: 100%;
}

.Top-Banner{
   background-image: url("images/01/top-banner.png");
   background-repeat: no-repeat;

}

section{
    height: 500px;
}